
/* Fonts
-------------------------------------------------- */
@font-face {
	font-family: HelveticaNeueLight;
	src: url(../fonts/helvetica-neue/light.eot);
	src: url(../fonts/helvetica-neue/light.eot) format('embedded-opentype'), url(../fonts/helvetica-neue/light.woff) format('woff'), url(../fonts/helvetica-neue/light.ttf) format('truetype'), url(../fonts/helvetica-neue/light.svg#HelveticaNeueLight) format('svg')
}
@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/helvetica-neue/regular.eot);
	src: url(../fonts/helvetica-neue/regular.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica-neue/regular.woff) format('woff'), url(../fonts/helvetica-neue/regular.ttf) format('truetype'), url(../fonts/helvetica-neue/light.svg#HelveticaNeueRegular) format('svg')
}
@font-face {
	font-family: HelveticaNeueMedium;
	src: url(../fonts/helvetica-neue/medium.eot);
	src: url(../fonts/helvetica-neue/medium.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica-neue/medium.woff) format('woff'), url(../fonts/helvetica-neue/medium.ttf) format('truetype'), url(../fonts/helvetica-neue/medium.svg#HelveticaNeueMedium) format('svg')
}
@font-face {
	font-family: HelveticaNeueBold;
	src: url(../fonts/helvetica-neue/bold.eot);
	src: url(../fonts/helvetica-neue/bold.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica-neue/bold.woff) format('woff'), url(../fonts/helvetica-neue/bold.ttf) format('truetype'), url(../fonts/helvetica-neue/bold.svg#HelveticaNeueBold) format('svg')
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}
@font-face {
  font-family: mck-icons;
  src: url(../fonts/icons/mck-icons.eot?urk1lg);
  src: url(../fonts/icons/mck-icons.eot?#iefixurk1lg) format('embedded-opentype'), url(../fonts/icons/mck-icons.woff?urk1lg) format('woff'), url(../fonts/icons/mck-icons.ttf?urk1lg) format('truetype'), url(../fonts/icons/mck-icons.svg?urk1lg#mck-icons) format('svg');
  font-weight: 400;
  font-style: normal
}
[class*=mck-icon__], [class^=mck-icon__],.front .card-content a:after,.field-name-field-slider-files .file a:before,.page-node-242 .paragraphs-item-plain-content .field-type-text-long a:before {
  font-family: mck-icons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.mck-icon__plus:before {
    content: "\e649";
}
.mck-icon__minus:before,.supportnetwork .collapsible-header.active .mck-icon__plus:before,.build .collapsible-header.active .mck-icon__plus:before,.page-node-202 .collapsible-header.active .mck-icon__plus:before {
    content: "\e63f";
}
.mck-icon__plus-circle:before,.page-node-242 .paragraphs-item-plain-content .field-type-text-long a:before {
    content: "\e648";
}
.mck-icon__minus-circle:before {
    content: "\e63e";
}
.mck-icon__download:before,.field-name-field-slider-files .file a:before {
    content: "\e627";
}
.mck-icon__arrow-right:before,.front .card-content a:after {
	content: "\e60f";
	color: #000000;
	padding-left: 10px;
}
.mck-icon__arrow-left:before {
    content: "\e60e";
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.node-get-inspired .pull-right, .pull-left {
    padding: 0 6px 0 6px;
}
.paddingtopnone{
  padding-top:0;
}
.paddingnone{
  padding:0!important;
}
.lightgraybk{
	background-color: #f5f5f5;
  float:left;
  width: 100%
}
.front{
    background-color: #f5f5f5!important
}
.aquabk{
	background-color: #00ADEF
}
.lightbluebk{
	background-color: rgba(0,101,189,.12);
}
.text-uppercase{
	    text-transform: uppercase;
}
.font14{
	font-size: 14px!important;
}
hr{
	border-top:rgba(151,151,151,.6);
}
h5.hlbluetitle{
  color:#00ADEF;
  font:22px HelveticaNeueLight!important;
  text-align: center;
}
.field-name-field-banner-image{
	 background-image:linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 13%, #00adef 84%);

  	background-image: -moz-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 13%, #00adef 84%);
	background-image: -webkit-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 13%, #00adef 84%);
	background-image: -webkit-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 13%, #00adef 84%);
	background-image: -o-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 13%, #00adef 84%);
	background-image:-ms-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 13%, #00adef 84%);
    background-size: cover;
    height: 335px;
    background-position: right;
    background-repeat: no-repeat;
}
.field-name-field-banner-image img{
	float:right;
}
#index-banner {		
    background-image:url('../images/patterns.png'), linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 27%, #00adef 84%);

  	background-image: url('../images/patterns.png'), -moz-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 27%, #00adef 84%);
	background-image:url('../images/patterns.png'), -webkit-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 27%, #00adef 84%);
	background-image: url('../images/patterns.png'), -webkit-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 27%, #00adef 84%);
	background-image:url('../images/patterns.png'), -o-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 27%, #00adef 84%);
	background-image:url('../images/patterns.png'), -ms-linear-gradient(to right, rgba(0,41,96,1) 0%, rgba(0,41,96,1) 27%, #00adef 84%);
    background-size: contain, cover;
    height: 245px;
    background-position: right, left;
    background-repeat: no-repeat;
}

.intro-text,.headline .lightgraybk{
	font-family: HelveticaNeueLight;
}
.headline .aquabk,.headline .lightgraybk{
	padding:5px 7px;
	float:left;
	font-size:14px;
}
#index-banner h1{
	color:#fff;
	margin:0;	
	font-family: HelveticaNeueLight;
	max-width: 500px;
}
#index-banner .container{
	padding:50px 0 20px 0;
}
#index-banner img{
	max-height: 170px;
}
#index-banner h3{
	font-size:36px;
	color:#fff;
	line-height: 40px;
	margin:0;
}
#index-banner h1, #index-banner h3, .intro h5,.card h5,.filters .card-panel p{
	transition: font 0.3s ease
}
.front .hoverable:hover,.page-node .hoverable:hover,.page-node-204 .hoverable:hover{
	box-shadow: none
}
.front .row,.front .hoverable..page-node .hoverable,.page-node-204 .hoverable{
	margin-bottom: 0;
	padding:0;
}
.front .container.main{
  max-width: inherit;
  margin:0;
  width:100%;
}
.front .menu-452.active:after,.menu-452 a:hover{
  background-color: transparent;
}
.menu-452 a{
  padding:0;
}
/* get inspired*/
.element-item .card .card-image img{
  max-height: 152px;
  width: 100%
}
.intro h5{
	line-height: 30px;
	font-size: 20px;
}
.intro .blue-text{
	font-family:HelveticaNeueMedium;
}
.intro .gray-text{
  font-family:HelveticaNeueLight;
  color:#606873;
}
.secondlist {
      list-style-type: circle;
      padding-left: 5px;
}
.headline{
	text-transform: uppercase;
}
.card{
	margin:0 0 30px 0;
}
.card h5{
	font:22px HelveticaNeueMedium;
	color:#1D335E;
	margin-top:0;
}
.card h6{
  font:18px HelveticaNeueMedium;
  color:#2E60AD;
  margin-top:0;
  padding: 0 0 10px 0
}
.card .waves-effect{
  width:100%;
}
.card small,.charts small{
	font:14px HelveticaNeueMedium;
	color:#9B9B9B;
	padding: 0 0 20px 0
}
.card ul{
	font-size: 1rem;
}
.card ul li{
	padding:3px 0;
}
.shadow,.field-name-field-inspirational-examples,.field-name-field-key-contacts,.field-name-field-tips-helpful-info{
	box-shadow:  0 2px 19px 0 rgba(0,0,0,0.08);
	-webkit-box-shadow:  0 2px 19px 0 rgba(0,0,0,0.08);
  	-moz-box-shadow: 0 2px 19px 0 rgba(0,0,0,0.08);
  	float:left;
  	width:100%;
}
.filter-button.is-checked
{
	color:#2E60AD;
	text-decoration: none;
}
a{
  color: #00ADEF;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.filter-button{
	cursor: pointer
}
.field-name-field-inspirational-examples .field-label,.field-name-field-key-contacts .field-label,.field-name-field-tips-helpful-info .field-label
{
	text-transform:uppercase;
	border-bottom: 1px solid #979797;
	color:#2E60AD;
}
.resetfilters{
	background-color: #00306E;
    border: 0;
    color: #fff;
    padding: 7px 10px;
    margin: 0 1rem;
    font-size: 12px;
}
.resetfilters:active,.resetfilters:focus,.resetfilters:hover{
	background-color: #37DEE7
}
.sidebarfilter-button li.active .child{
	color:#fff!important;
}
.sidebarfilter-button{
	color:#fff!important;
	cursor: pointer;
}	
.page-node-230 .row .col.xl8,.page-node-232 .row .col.xl8,.page-node-224 .row .col.xl8,.page-node-231 .row .col.xl8,.page-node-250 .row .col.xl8,
.page-node-230 #block-system-main,.page-node-232 #block-system-main,.page-node-224 #block-system-main,.page-node-231 #block-system-main,.page-node-250 #block-system-main
{
	width:100%!important;
}
.page-node-230 .sidebar-last,.page-node-232 .sidebar-last,.page-node-224 .sidebar-last,.page-node-231 .sidebar-last,.page-node-250 .sidebar-last, .field-name-field-slider-files .file-icon,.submitted,.sidebarfilter-button .material-icons.dp48,.front .card-title,.block-menu .collection-header,.front .section-title,.page-support-network .collection-header,.page-node-202 #node-202 .content > .card-title{
	display:none;
}
.sidebarfilter-button.active,.sidebarfilter-button.is-checked{
	color:#00ADEF!important;
}
.description{
	padding-top:10px;
}
.filtersection{
	padding:0;
}
.filters .card p{
	color:#666666;
}
.filters .card-panel .row .col.s2 img{
	text-align: center
}
.filters .card-panel p{
	font-size:18px;
}
.filters{
	padding-bottom:0;
}
#filters ul{
	margin:10px 0;
}
.tabs li{
	display:inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 7px;
    margin: 0;
}
.tabs li span{
	color:#666666;
    width: 100%;
    height: 100%;
    font: 16px HelveticaNeueBold;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.filters .card a,.filters .card h5,.card-content h5{
	font:18px HelveticaNeueMedium;
	color:#2E60AD;
}
.filters .card h5,.card-content h5{
  cursor: pointer;
}

.sidebar .mck-icon__plus-circle{
	padding-right:10px;
}
.sidebar{
	padding:20px;
}
.sidebar .blue{
	padding:15px 0;
	margin:0 0 20px 0;
}
.sidebar .blue small{
	padding: 1rem;
	float:left;
	width:100%;
	color:#fff;
}
.node-type-get-inspired .card-panel{
  margin:0;
}
/*.page-get-inspired .main.container,.page-compendiums .main.container,.page-whyitmatters .main.container,.page-playbook .main.container{
  max-width: inherit;
  margin:0;
  width: 100%
}*/
/* get inspire ends*/
.page-playbook .card .card-image img{
	width:inherit;
	margin:auto;

}
/*what is rr*/
.block-views .collection-header{
	margin:1.78rem 0 1.424rem 0;
}
.section-title,.block-views .collection-header,.page-node-204 h4.card-title a,.page-node-204 .sidebar-last .collection-header,.content.card-content .card-title a{
	font:36px HelveticaNeueLight;
	color:#2E60AD;
}
.name{
	font-size:18px;
	color:#2E60AD;
}
.jobtitle{
	font-size:14px;
}
.thoughts-rr h6{
	font:14px HelveticaNeueBold;
	color:#002960;
}
.thoughts-rr p{
	font-size:12px;
}
.thoughts-rr .card-title{
	font:14px HelveticaNeueBold;
}
.thoughts-rr .card-image .material-icons{
	font-size:50px;
	padding-right: 10px;
}
.thoughts-rr .card .card-image .card-title{
	padding:12px;
	z-index: 3
}

.thoughts-rr .blue-overlay{
	background: rgba(0,41,96,.3);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.thoughts-rr .blue-overlay:hover{
	opacity:0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}
.history .valign-wrapper img{
	padding: 0 10px 0 0;
}
.history .xl12{
	padding:25px 0 40px 0;
}
.page-whyitmatters .history{
	padding:0;
}
.numbers{
	background: #FFFFFF;
	border: 1px solid #00ADEF;
	border-radius: 100%;
	width:90px;
	height:90px;
	margin:0 auto 30px auto;
	font-size: 50px;
    text-align: center;
    color:#2E60AD;
    font-family: HelveticaNeueLight;
    line-height: 90px;
}
.build .numbers{
  position: absolute;
  top: 26px;
  left:37%;

}
.build .mck-icon__plus{
	margin:auto;
	color:#00ADEF;
	font-size: 26px;
	padding:10px 0;
	margin-left:20px;
}

.build .browser-default li{
	list-style-type: disc;
}
.build .collapsible-body{
	padding:10px 0;
}
.build .card .card-content{
	min-height: 120px;
}
.build .browser-default{
	padding:0 40px;
}
.build .collapsible {
    top: -20px;
    position: relative;
}
.charts .white{
	padding:30px;
	float:left;
	width: 100%;
}
.charts .row{
	margin-bottom: 20px;
}
.charts .lightbluebk{
	float:left;
	width: 100%;
	padding:15px 30px;
}
.charts i{
	color:#666666;
	font:14px HelveticaNeueLight;
	font-style: italic;
}
.charts small{
	margin:0 0 20px 0;
	float:left;
	width: 100%
}
.page-get-inspired .valign-wrapper .s2 .circle,.page-whatisrr .circle{
	min-width: 162px;
}
/* what is rr ends*/
/* comp page*/
.section.comp{
	padding:0 0 20px 0;
}
.comp img{
	padding:0 40px 0 0;
}
#block-block-24 .collection-header,.page-journey-stories h5.blacktext{
	color:#2E60AD!important;
	text-transform:uppercase;
	padding:0 0 20px 0;
}
h5.graytext{
	color:#9C9D9D;
	text-transform:uppercase;
	padding:0 0 20px 0;
}
h5.graytext, h5.blacktext,#block-views-journeystories-block-1 .collection-header,h5.bluetext{
  font:24px HelveticaNeueLight;
}
h5.blacktext{
  padding:0 0 15px 0;
}
h5.blacktext,#block-views-journeystories-block-1 .collection-header{
  color:#000000;
}
/*comp page ends*/
/* story*/
.story-title{
	font:40px HelveticaNeue;
	line-height: 52px;
  margin:0;
}
.story{
	padding: 0;
}
.story .xl9 img{
	/*padding:0 15px 15px 15px;*/
}
.quote .card-panel{
	background-color: transparent;
	font-family: Georgia, HelveticaNeue,Arial;
	margin:0;
}
.quote .row{
	margin-bottom:0;
}
.quote{
	margin:0 0 20px 0;
}
.story .xl9 .collapsible-header{
	padding:15px 10px;
  color:#fff;
}
.story .xl9 .collapsible-body{
	padding: 15px;
}
.contacts h6{
	font:15px HelveticaNeueMedium;
}
.valign-wrapper small{
	font-size: 13px;
}
.valign-wrapper .mck-icon__download,#block-views-journeystories-block-3 .valign-wrapper .material-icons{
	padding:0 10px 0 0;
}
.valign-wrapper small a{
	color:#000;
}

/* story ends*/
/* journey story*/
.page-journey-stories .row .col.xl9{
  padding:0 35px 0 0;
}
#block-views-journeystories-block-1 .collection-header{
  padding:15px;
}
#block-views-journeystories-block-1 .xl12:last-child hr{
  border:none;
}
#block-views-journeystories-block-1 .card-content{
  padding-left: 20px
}
#block-views-journeystories-block-1 img{
  max-width: 55px;
}
#block-views-journeystories-block-1 .name{
  font-size:16px;
}
#block-views-journeystories-block-1  p{
  font-size: 14px
}
.view-header > p{
	padding: 0 15px;
}
.row.seniorpartners{
	margin-bottom:0;
}
.seniorpartners .card,.supportnetwork .card{
    padding:20px;
}
.seniorpartners .name{
  padding:0 0 10px 0;
}
.seniorpartners .card p,.supportnetwork .card p{
    color:#9b9b9b;
}

.ems .card-panel .card{
  box-shadow: none
}
.ems p,.font16{
  font-size:16px;
}
.ems .card-panel
{
  margin:30px 0 0 0;
}
.ems .card{
  margin:0;
}
.ems .material-icons{
  font-size:70px;
  padding:0 10px 0 0;
}
.ems .card-title{
  font-size:14px;
}
.bluetitle{
  font:18px HelveticaNeueMedium;
  color:#2E60AD;
}
.otherjourney [class*=mck-icon__], .otherjourney [class^=mck-icon__] {
  font-size:20px;
}
#block-views-journeystories-block-3 .card-title{
  font-size:12px;
}
#block-views-journeystories-block-3 .card{
  padding:0;
}
#block-views-journeystories-block-3 .sidebartitle{
  padding:0 0 20px 0;
}
#block-views-journeystories-block-3 .block-views .collection-header{
	font-size:16px;
	color:#000;
}
.block-menu .collection.with-header .collection-item{
  padding:0;
}
.block-menu .collection.with-header #dropdown-menu .collection-item{
  padding: 14px;
}
.block-menu li {
    padding: 0 7px 0 0;
}
.block-menu .collection{
  margin:15px 0;
  border-bottom: 1px solid #e0e0e0;
  border-top:0;
  border-right:0;
  border-left:0;
}
/* journey story ends*/
/* knowledge to share*/
.page-knowledge-to-share p{
  padding:0;
}
/* knowledge to share ends*/
/* support network*/
#block-views-tools-and-resources-block-6 .collapsible-body{
	padding:0px!important;
}
#block-views-tools-and-resources-block-6{
	display:none;
}
#block-views-tools-and-resources-block-6 .collapsible{
	margin:0;
}
#block-views-tools-and-resources-block-5 hr{
	display:none;
}
#block-views-tools-and-resources-block-5 h6,#block-views-tools-and-resources-block-4 .card .card-content h6{
	border-bottom: 1px solid rgba(151,151,151,.4);
	    padding-bottom: 7px;
}

.supportnetwork h6{
  font:16px HelveticaNeue;
  color:#000000;
  text-transform: uppercase;
}
.supportnetwork hr{
  border-top:1px solid rgba(151,151,151,.4);
}
.supportnetwork .mck-icon__plus,.page-node-202 .mck-icon__plus{ 
  color:#00ADEF;
  font-size: 20px;
}
.supportnetwork .card{
  min-height: 370px
}
.supportnetwork .collapsible{
  margin:10px 0;
}
.supportnetwork .row > .region{
  padding:20px 0;
}
.supportnetwork .collapsible-body{
  padding:20px 0!important;
}
.supportnetwork .card:hover, #block-views-journeystories-block-1 .card:hover{
      box-shadow: 0 10px 50px 2px rgba(0,41,96,.32);

}

.ysn img {
    width: 160px;
    height: 200px;
    padding-right: 10px;
}

.ysnfce img{
  max-width: 100% !important;
}

.ysn .col {
    padding-bottom: 20px;
    padding-right: 10px;
}

/* support network ends*/
/*node type pages*/
.node-type-page .paragraphs-item-plain-content ul,.owl-carousel .item ul{
	 list-style-type: disc; 
   padding-left:40px;
}
.node-type-page .paragraphs-item-plain-content ul li,.owl-carousel .item ul li {
list-style-type: disc; 
}

#node-202 ul li {
list-style-type: none; 
}

.node-type-get-inspired .field-type-file .file,.documentfile{
  background-color: #00ADEF; 
  padding:7px 10px;
}
.documentfile{
  width: 100%;
  margin-bottom: 20px;
}
.node-type-get-inspired .col.xl8 .field-name-field-document{
  display:none;
}
.node-type-get-inspired .field-type-file .file a,.documentfile a  {
  color: #fff;
}
.node-type-get-inspired,.node-type-page{
  background-color:   #fff;
}
.node-type-get-inspired .lightgraybk, .lightgraybk.numbers
{ 
  padding:30px;
  float:left;
  width: 100%;
}
.node-type-get-inspired #block-system-main,.node-type-webform #block-system-main{
  margin:30px 0 0 0;
      width: 69%;
    float: left;
}
.node-type-get-inspired .browser-default,.node-type-get-inspired .lightgraybk,.lightgraybk.numbers {
  margin-bottom:30px;
}
.node-type-get-inspired  .leftsection{
  width:60%;
  float:left;
}
.node-type-get-inspired .row.page,.node-type-webform .row.page{
   width: 85%;
  margin:auto;
}
.node-type-get-inspired #block-system-main .container,.node-type-webform .main .container{
  width: 100%
}
.node-type-get-inspired .row .col.xl8,.node-type-webform .row .col.xl8{
    width: 95%;
}
.node-type-get-inspired .sidebar-last{
  margin:40px 0 0 0;
}
.node-type-get-inspired .row.page,.node-type-webform .row.page{
      margin: 0 auto;
    max-width: 1280px;
}
.sidebarlinks .shadow,.field-name-field-inspirational-examples,.field-name-field-key-contacts,.field-name-field-tips-helpful-info{
  padding:20px;
}
.sidebarlinks{
  margin:0 0 20px 0;
  float:left;
  width: 100%
}

.sidebarlinks ul.browser-default{
  padding: 0 0 0 20px;
}
ol.custom {
  list-style-type: none;
  margin-left: 0;
    padding:0;
}

ol.custom > li {
    counter-increment: customlistcounter;
    width: 92%;
    float: left;
    margin: 0 0 20px 50px;
    position: relative;
        min-height: 38px;
}
ol.custom li:before{
    position: absolute;
    left: -60px;
}

.darkbluenumbers,ol.custom > li:before {
   width: 50px;
  height:50px;
  background: #2E60AD;
  border: 1px solid #00ADEF;
  font-family: HelveticaNeueLight;
  font-size: 26px;
  color: #FFFFFF;
  border-radius: 100%; 
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  float: left;

}
ol.custom > li:before {
  content: counter(customlistcounter) " ";
    margin: 0 20px 0 0;
}

 ol.custom:first-child {
  counter-reset: customlistcounter;
}
/*contact page*/
.node-type-webform #block-system-main{
  padding:0 15px;
}
#block-block-27 p{
  margin:0;
}
.page-node-204 .main{
  float:left;
  margin-top:60px;
}
.page-node-204 .sidebar-last{
  margin-top:50px;
}
.sidebar-last .collection-header,#block-block-27 .row{
  padding:0 0 20px 0;
}
.page-node-204 label{
      font-family: 'Whitney SSm','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    display: inline-block;
    width: auto!important;
    font-weight: 700;
    font-size: .75em;
    text-transform: uppercase;
    color: #333;
}
.page-node-204 #edit-submit{
      font-family: 'Whitney SSm','Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;
    font-size: .875em;
    min-width: 150px;
    min-height: 41px;
    font-weight: 700;
    color: #fff;
    border: 0;
    width: auto;
    cursor: pointer;
    transition: background-color 120ms linear;
    text-transform: uppercase;
    border-radius:0;
}
.row.page {
   min-height:  100vh;
}
/*.page-node-204  {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.row.page {
    flex: 1 0 auto;
  }*/

/* contact page ends*/
/*expanded menu*/

.block-menu #dropdown-menu{
  background-color: #fff
}
.block-menu #dropdown-menu li{
  height: 100%;
   border-bottom: 1px solid #e0e0e0;
}
.block-menu #dropdown-menu li:last-child{
  border-bottom:0;
}
/*expanded menu ends*/
/*gold standard page*/
.page-node-202 .row.page{
  background: url(../images/howtogetstarted-bk.jpg) no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:30px 0;
}
.page-node-202 section.main > .white{
  background-color: transparent!important;
}
.page-node-202 .custom li{
  width: 50%
}
.page-node-202 ul li.white{
  padding:20px;
  margin:0 0 20px 0;
  float:left;
  width: 100%;
  font-size: 16px;
}
.page-node-202 ul li.white strong{
  color:#2E60AD;
  padding:0 20px;
  width: 100%
}
.page-node-202 .collapsible-body{
  margin:20px 0;
}
/* gold standard page ends*/
/*engaging*/

.page-node-242 .paragraphs-item-plain-content .field-type-text-long a:before{
  padding-right: 10px
}
.page-node-242 .paragraphs-item-plain-content .field-type-text-long a {
  padding-right:15px;
}
/* engaging ends*/
/*assessing rr*/
.page-node-189 .shadow{
  padding:20px 0;
}
#node-189 img{
  padding:10px;
}

.twocolumns .shadow{
  padding:20px;
}
.page-node-240 .paragraphs-items-full .field-item.odd:nth-child(6) .paragraphs-item-plain-content .section-title,.page-node-240 .paragraphs-items-full .field-item.odd:nth-child(8) .paragraphs-item-plain-content .section-title,.page-node-242 .field-item:nth-child(5) .paragraphs-item-plain-content .section-title,.page-node-242 .field-item:nth-child(8) .paragraphs-item-slider .section-title,#block-views-whatisrr-block-2 .collection-header,#block-views-whatisrr-block-1 .collection-header,.page-whatisrr .history .section-title,.build .section-title,#block-views-journeystories-block-3 .collection-header{
	font:30px HelveticaNeueLight;
}
.page-node-240 .paragraphs-item-slider .section-title,#block-views-journeystories-block-2 .collection-header{
	font:24px HelveticaNeueLight;
	text-transform: uppercase;
}
.page-node-242 .field-item:nth-child(6) .paragraphs-item-plain-content .section-title,.page-node-242 .field-item:nth-child(8) .paragraphs-item-slider .field-name-field-slider-content .section-title,.page-journey-stories h5.blacktext,#block-block-24 .collection-header{
font:20px HelveticaNeueLight;
	text-transform: uppercase;
}
.page-node-240 .field-type-text-long .col.m2{
  min-height: 140px;
}
.page-node-240 .field-type-text-long ul{
    
}
.page-node-240 .field-type-text-long li{
  list-style: none;  
    border-right: 1px solid #979797; 
    border-bottom: 1px solid #979797;
        float: left;
    display: inline-block;
}
.field-name-field-slider-files .file{
  padding:0 20px 0 0;
}
.field-name-field-slider-files .file a:before{
  color:#000;
  font-size:18px;
  padding-right:10px;
}
.field-name-field-slider-files .field-item {
  float:left;
  padding: 0 10px 0 0
}
.field-name-field-after-files-content{
  float:left;
  width: 100%;
  padding:10px 0;
}
.field-name-field-accordion .collapsible{
  margin:0;
}
.field-name-field-accordion .field-collection-view{
  padding:10px 0 0 0;
  margin:0;
}
.field-name-field-accordion .collapsible-header{
  padding:0;
  font-size:18px;
}
.paragraphs-item-plain-content{
  float:left;
  width: 100%
}
.paragraphs-item-plain-content .section {
  padding:0 0 20px 0;
  float:left;
  width: 100%
}

/*.paragraphs-items-field-components-full .field-item{
  clear:both;
}*/

/* assessing rr ends*/
/* rr strategies*/
img[usemap] {
    border: none;
    height: auto;
    max-width: 75%;
    width: auto;
}
/*.zoomin.initialized.active img{
	    width: 72%;
    margin: auto;
}*/
.page-node-203 .center-align{
	max-width: 100%;
	margin:auto;
}
.show{
  display:block!important;
}
.firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
  max-width: 400px;
  padding:20px;
  position: absolute;
  font-size:15px;
  background-color: #fff;
}
.firstsection-content{
  top:-820px;
  left:5px;
}
.secondsection-content{
   top: -820px;
   right: -65px;
}

.thirdsection-content{
  top:-600px;
  right:-15px;
}
.fourthsection-content{
  top: -300px;
    right: 0;
}
.fifthsection-content{
    top: -195px;
    left: 240px;
}
.sixthsection-content{
  top:-300px;
}
.seventhsection-content{
  top:-445px;
}
.chart-container{
  position: relative;
}
.field-name-field-afer-slide-content strong{
  font-size:18px;
}
/* rr strategies end*/
.page-footer .brand-logo img{
	float:left;
	margin-top:7px;
}
.page-footer ul{
	margin:0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: inherit;
}

@media only screen and (min-width: 1790px) {
.publishing-col {
      min-height: 330px;
 }
}

@media only screen and (max-width: 1790px) {
.publishing-col {
      min-height: 420px;
 }
}

@media only screen and (max-width: 1300px) {
.publishing-col {
      min-height: 520px;
 }
}

@media only screen and (max-width: 1100px) {
.publishing-col {
      min-height: 550px;
 }
}

@media only screen and (max-width: 950px) {
.publishing-col {
      min-height: 610px;
 }
}

@media only screen and (max-width: 800px) {
.publishing-col {
      min-height: 680px;
 }
}

@media only screen and (max-width: 750px) {
.publishing-col {
      min-height: 1000px;
 }
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
 .owl-carousel small{
 	font-size:14px;
 }
 .owl-carousel .item{
 	padding: 20px;
    float: left;
    width: 100%;
 }
 .owl-carousel .owl-prev{
 	 left: -25px;
    
 }
 .owl-carousel .owl-next{
   right: -25px;
 }
 .owl-carousel .owl-prev,.owl-carousel .owl-next{
 	background-color: #00ADEF;
 	color:#fff;
 	padding:15px 20px;
 	position: absolute;
    top: 45%;
 }

 .owl-carousel p,.otherjourney p{
 	color:#666666;
 	font-size:14px;
 }
 .owl-dot.active span{
 	background-color: #001F48	
 }
 .owl-dot {
    display: inline-block;
    zoom: 1;
    top: -10px;
    position: relative;
}
.owl-dots, .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
 .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
 .owl-carousel .mck-icon__arrow-right:before, .owl-carousel .mck-icon__arrow-left:before{
 	font-size:20px;
 	color:#fff;
 }
 .owl-carousel .mck-icon__arrow-right:before{
 	padding:0;
 }
.owl-carousel {
  display: none;
  width: 100%;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.11);
    -webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.11);
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.11);
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; 
  margin-bottom:30px;
}
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {

    display: block;
    /*width: 100%;*/
        max-width: 100%;
    height: auto; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }


.videowrapper {
	display: none;
}
#modal {
	width:500px;
}
.popup-video{
	width:100%;
}

.iziModal .iziModal-header-buttons {
	top:-20px;
	right:0;
}


.active-trail { 
	background-color: transparent !important;
    color: #2E60AD !important;
}


.page-how-to-get-started-playbook li.first.leaf a{
    color:#9B9B9B;
}

.main-menu li.active-trail a.active-trail::after {
    background-color: #0065BD;
    bottom: 0;
    content: '';
    display: block;
    height: 8px;
    position: relative;
}

