@media(min-width:768px){
  #nav-mobile{
    display:none;
  }
  #index-banner h1{
    font-size: 3.2rem
  }
  #index-banner h3{
    font-size:2.5rem;
  }

  /* get inspired*/

  .page-get-inspired .valign-wrapper .s2 .circle,.page-whatisrr .circle{
    min-width: inherit;
  }
  .filters .card-panel p{
    font-size: 16px;
  }
  .node-type-get-inspired .valign-wrapper .circle,.page-whatisrr .valign-wrapper .circle,.page-see-what-others-are-doing .valign-wrapper .circle,.page-node-240 .valign-wrapper .circle,.page-node-202 .valign-wrapper .circle{
		max-width: 100%!important;
	}
  .page-how-to-get-started .element-item .card .card-image img {
      max-height: 135px;
  }
  /* get inspired ends*/
  /*support network*/
  .supportnetwork .card{
    min-height: 340px
  }
  /*what is rr*/
   /*node pages*/
  .node-type-get-inspired #block-system-main,.node-type-get-inspired .row .col.xl8 {
    width: 100%
  }
  .story-title {
      font: 34px HelveticaNeue;
      line-height: 30px;
      margin: 0;
  }
  .node-type-webform #block-system-main{
    width: 100%
  }
.firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
    top:-699px;
    left:0;
    right:0;
    max-width: 100%
  }
  img.get-inspired-img {
    max-width: 320px;
}
  /*submenu*/
 /* .block-menu .collection{
    width:85%;
    margin:auto;
  }*/
}
@media(min-width:992px){
  #nav-mobile{
    display:block;
  }
   nav.nav-extended .nav-wrapper {
    min-height: 50px;
  }
  .build .numbers {
    left: 42%;
    top:26%;
  }
  .numbers {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
  }
}
@media(min-width:1024px){
   img.get-inspired-img {
    max-width: 410px;
        padding-bottom: 12px;
}
  #index-banner h1{
    font-size: 3.4rem
  }
  #index-banner h3{
    font-size: 36px;
  }

  

  /* get inspired*/
  .page-get-inspired .valign-wrapper .s2 .circle,.page-whatisrr /*.circle*/{
    min-width: 165px;
  }
  .page-how-to-get-started .element-item .card .card-image img {
      max-height: 160px;
  }

  .filters .card-panel p{
    font-size:18px;
  }
  /* get inspired ends*/
  /*support network*/
  .supportnetwork .card{
    min-height: 340px
  }
  /*what is rr*/
  .node-type-get-inspired .valign-wrapper .circle,.page-whatisrr .valign-wrapper .circle,.page-see-what-others-are-doing .valign-wrapper .circle,.page-node-240 .valign-wrapper .circle,.page-node-202 .valign-wrapper .circle{
		max-width: 125px!important;
	}
  .build .card .card-content {
    min-height: 150px;
  }
  .build .numbers {
    left: 42%;
    top:26%;
  }
  .numbers {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
  }
  /*node pages*/
  .node-type-get-inspired #block-system-main{
    width: 63%
  }
  .story-title {
    font: 40px HelveticaNeue;
      line-height: 28px;
      margin: 0;
  }
  .node-type-get-inspired .row .col.xl8 {
      width: 95%;
  }
  .node-type-webform #block-system-main {
    width: 65%;
}

.firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
    top:-730px;
    left:0;
    right:0;
    max-width: 100%
  }
  
}
@media(min-width:1250px){
  img.get-inspired-img {
    max-width: 410px;
}
  .build .card .card-content {
    min-height: 120px;
  }
  .numbers {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
  }
  .build .numbers {
    top:26px;
  }
  .node-type-get-inspired #block-system-main{
    width: 69%
  }
}
@media(min-width:1500px){
  .build .numbers {
      left: 40%;
  }
  .build .card .card-content {
    min-height: 120px;
  }
  .numbers {
      width: 90px;
      height: 90px;
      font-size: 50px;
      line-height: 90px;
  }
}
@media(max-width:767px){
	 .hide-desktop{
  	display:block;
  }
  .show-desktop{
  	display:none;
  }
.ems .card-image{
   max-width: 100%;
    float: none;
    padding-left:0;
}
  img[usemap]{
    max-width: 100%
  }
  #nav-mobile{
    display:none;
  }
  #index-banner {
    background-size: cover;
    background-position: right center;
    height:100%;
    padding-bottom: 20px;
  }
  #index-banner .container{
      padding:30px 0 20px 0;
  }
  #index-banner h1{
    font-size: 3rem;
  }
  #index-banner h3{
    font-size:2.2rem;
  }
  .node-type-get-inspired .valign-wrapper .circle{
  	width:100%;
  }
  
  /* learning and training*/
  .page-node-252 .material-placeholder img{
    width:100%;
    padding-bottom: 25px;
  }
  .page-node-252 .ems .valign-wrapper{
    display:block;
  }
  /* get inspired page*/

  .node-type-get-inspired .pull-right.get-inspired-img,.node-type-get-inspired .pull-left.get-inspired-img{
    float:left;
    width:100%;
    max-width:initial;
    margin:20px 0;
  }
  .page-get-inspired .valign-wrapper .s2 .circle,.page-whatisrr .circle{
    min-width: inherit;
  }
  .filters .card-panel p{
    font-size:14px;
  }
  .grid .element-item{
    width:100%!important;
  }
  .quote .col.s2 {
      text-align: center;
      width:25%;
  }
  /* get inspired page ends*/
  /* playbook*/
  .story .row .col.m4,.story .row .col.m8{
    width: 100%
  }
  .contacts:last-child{
    margin: 0 0 20px 0;
  }
  /* playbook ends*/
  /*what is rr*/
  .page-whatisrr .valign-wrapper .circle,.page-see-what-others-are-doing .valign-wrapper .circle,.page-node-240 .valign-wrapper .circle,.page-node-202 .valign-wrapper .circle{
		max-width: 100%!important;
	}
    .numbers {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
   .build .numbers {
    top: 16%;
    left: 36%;
  }
    /*firm gold page*/
  .page-node-202 .collapsible-header{
    padding:0;
  }
  .page-node-202 .darkbluenumbers{
    width: 40px;
    height:35px;
    line-height: 35px;
    font-size: 18px;
  }
  /* firm gold page ends*/
    /* rr strategy*/
  .firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
    top:-730px;
    left:0;
    right:0;
    max-width: 100%
  }
  /*nodepages*/
  .node-type-get-inspired #block-system-main,.node-type-get-inspired .sidebar-last,.node-type-get-inspired .row .col.xl8,.node-type-webform #block-system-main {
    width: 100%!important
  }
  .story-title {
      font: 32px HelveticaNeue;
      line-height: 46px;
      margin: 0;
  }
  /*tools*/
  .owl-carousel .item{
    padding:20px;
  }
  .supportnetwork .card {
	    min-height: 340px;
	}
  /* tools end*/

}
@media(max-width:480px){
  .row .col.s6{
    width:100%;
  }
  .page-footer .footer-copyright a{
    width: 100%;
    float: left;
    padding-top: 5px;
  }
  #index-banner h1{
    font-size: 2.2rem
  }
  #index-banner h3{
    font-size:1.5rem;
    line-height: inherit;
  }
  .intro h5 {
    line-height: initial;
    font-size: 16px;
  }
  .card h5 {
    font: 18px HelveticaNeueMedium;
  }
  .ems .card-panel >.valign-wrapper{
    display:block;
  }
.page-node-204 .main{
    max-width:100%;
  }
   .numbers {
      width: 90px;
      height: 90px;
      font-size: 50px;
      line-height: 90px;
  }
   .build .numbers {
    top: 26px;
    left: 37%;
  }
  /* rr strategy*/
  .firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
    top:-490px;
    left:0;
    right:0;
  }
  .story-title {
      font: 28px HelveticaNeue;
      line-height: 40px;
      margin: 0;
  }

}

@media (max-width:600px) and (min-width:482px) {
    .numbers {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
   .build .numbers {
    top: 30%;
    left: 42%;
  }
  .page-journey-stories .row .col.xl9{
       padding: 0 0.75rem;
  }
}​