@media(min-width:768px){
  #nav-mobile{
    display:none;
  }
  #index-banner h1{
    font-size: 3.2rem
  }
  #index-banner h3{
    font-size:2.5rem;
  }

  /* get inspired*/
  .filters .card-panel p{
    font-size: 16px;
  }
  /* get inspired ends*/
  /*support network*/
  .supportnetwork .card{
    min-height: 400px
  }
  /*what is rr*/
  
}
@media(min-width:992px){
  #nav-mobile{
    display:block;
  }
   nav.nav-extended .nav-wrapper {
    min-height: 50px;
  }
  .build .numbers {
    left: 42%;
    top:26%;
  }
  .numbers {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
  }
}
@media(min-width:1024px){
  #index-banner h1{
    font-size: 4.2rem
  }
  #index-banner h3{
    font-size: 36px;
  }
  

  /* get inspired*/
  .filters .card-panel p{
    font-size:18px;
  }
  /* get inspired ends*/
  /*support network*/
  .supportnetwork .card{
    min-height: 370px
  }
  /*what is rr*/
  .build .card .card-content {
    min-height: 150px;
  }
  .build .numbers {
    left: 42%;
    top:26%;
  }
  .numbers {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
  }
 
  
}
@media(min-width:1250px){
  .build .card .card-content {
    min-height: 120px;
  }
  .numbers {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
  }
  .build .numbers {
    top:26px;
  }
}
@media(min-width:1500px){
  .build .numbers {
      left: 40%;
  }
  .build .card .card-content {
    min-height: 120px;
  }
  .numbers {
      width: 90px;
      height: 90px;
      font-size: 50px;
      line-height: 90px;
  }
}
@media(max-width:767px){
  #nav-mobile{
    display:none;
  }
  #index-banner {
    background-size: cover;
    background-position: right center;
    height:100%;
    padding-bottom: 20px;
  }
  #index-banner .container{
      padding:30px 0 20px 0;
  }
  #index-banner h1{
    font-size: 3rem;
  }
  #index-banner h3{
    font-size:2.2rem;
  }
  

  /* get inspired page*/
  .filters .card-panel p{
    font-size:14px;
  }
  .grid .element-item{
    width:100%!important;
  }
  /* get inspired page ends*/
  /* playbook*/
  .story .row .col.m4,.story .row .col.m8{
    width: 100%
  }
  .contacts:last-child{
    margin: 0 0 20px 0;
  }
  /* playbook ends*/
  /*what is rr*/
    .numbers {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
   .build .numbers {
    top: 16%;
    left: 36%;
  }
    /*firm gold page*/
  .page-node-202 .collapsible-header{
    padding:0;
  }
  .page-node-202 .darkbluenumbers{
    width: 40px;
    height:35px;
    line-height: 35px;
    font-size: 18px;
  }
  /* firm gold page ends*/
    /* rr strategy*/
  .firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
    top:-730px;
    left:0;
    right:0;
    max-width: 100%
  }

}
@media(max-width:480px){
  .row .col.s6{
    width:100%;
  }
  .page-footer .footer-copyright a{
    width: 100%;
    float: left;
    padding-top: 5px;
  }
  #index-banner h1{
    font-size: 2.2rem
  }
  #index-banner h3{
    font-size:1.5rem;
    line-height: inherit;
  }
  .intro h5 {
    line-height: initial;
    font-size: 16px;
  }
  .card h5 {
    font: 18px HelveticaNeueMedium;
  }
  .ems .card-panel >.valign-wrapper{
    display:block;
  }
.page-node-204 .main{
    max-width:100%;
  }
   .numbers {
      width: 90px;
      height: 90px;
      font-size: 50px;
      line-height: 90px;
  }
   .build .numbers {
    top: 26px;
    left: 37%;
  }
  /* rr strategy*/
  .firstsection-content,.secondsection-content,.thirdsection-content,.fourthsection-content,.fifthsection-content,.sixthsection-content,.seventhsection-content{
    top:-490px;
    left:0;
    right:0;
  }

}

@media (max-width:600px) and (min-width:482px) {
    .numbers {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
   .build .numbers {
    top: 30%;
    left: 42%;
  }
}​