

/* general */

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;


}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
	margin-top: 0;
}

h3 {
	color: #e37222;
	font-size: 18px;
	font-weight: normal;
	margin-top: 0px;
}


p {
	color: #333;
	font-size: 10pt;
	line-height:130%;
}
ul {
	list-style-type: none;
}
ul.vertical {
	padding: 0;
}

ul.vertical > li {
	display: inline-block;
}

a {
	color: #0065bd;	
}

input {
	margin: 5px 0 5px 0;
	width: 100%;
}

.c { clear: both; }

.f-left { float: left; }
.f-right { float: right; }
.f-length { width: 100%;}

.readable-padding { padding: 10px; }

.capital-heading { color: #b6b6b6; text-transform: uppercase; font-size: 10pt; }

.grey-bg { background-color: #f1f1f1;}

.grey-text { color: #939d98;}
.dark-text {color: #000000; }
.orange-text { color: #f47730;}

.smaller-text { font-size: 10px;}
.small-text { font-size: 11px;}
.large-font { font-size: 14px;}
.larger-font { font-size: 16px;}
.largest-font { font-size: 27px;}

.light-font { font-weight: 300;}
.bold-font {font-weight: bold;}

.right-aligned { text-align: right;}
.leftt-aligned { text-align: left;}

.border-right { border-right: 1px solid #dddddd }
.border-top   { border-top: 1px solid #dddddd;}

.border-top-dotted   { border-top: 1px dotted #dddddd;}
.border-bottom-dotted   { border-bottom: 1px dotted #dddddd;}

.fifteen {width: 15%;}
.twenty {width: 20%;}
.twenty-five {width: 25%;}
.thirty-five { width: 35%;}
.forty { width: 40%;}
.fifty { width: 50%;}
.sixty {width: 60%;}
.sixty-five {width: 65%;}
.seventy-five {width: 75%;}
.seventy {width: 70%;}
.eighty {width: 80%;}
.eighty-five {width: 85%;}
.ninety {width: 90%;}

.padding-right { padding-right: 1em;}
.xpadding-right { padding-right: 2em;}
.padding-left { padding-left: 1em !important; }
.xpadding-left { padding-left: 2em !important;}
.padding-bottom {padding-bottom: 1em !important;}
.xpadding-bottom {padding-bottom: 2em !important;}
.padding-top {padding-top: 1em;}
.xpadding-top {padding-top: 2em;}

.right-ic li {
list-style-type: disc;
padding-bottom: 10px;
}

div.right-ic.right-float {padding-top: 0px !important;}

/* Anchors */
a:hover {
	text-decoration: none;
}

.breadcrumb { color: #666; font-size: 9pt;}
.breadcrumb a { color: #666; }
.breadcrumb a:hover { color: #0065bd; }

/* left-side */
.left-side {
border-right: 4px solid #ebebeb;
min-width: 740px;
}

.no-lr-pad { padding-right: 0; padding-left: 0;}
.no-l-pad  { padding-left: 0;} 
.no-tb-pad { padding-top: 0; padding-bottom: 0;}
.no-t-pad { padding-top: 0;}
.no-lr-mar { margin-right: 0 !important; margin-left: 0;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {

-webkit-appearance: button;
	background: #193861;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 117px;
	margin-right: 11px;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 10pt;
}



/* page-header */


				
				/* top-header francis */
				
				.header-bar {
					background-color: #061e3e;
					margin-bottom: 40px;
					height: 100px;
					overflow: hidden;
					display:block;
					}
				
				
				#top_header {
					height: 110px;
					display:block;
					background-image:url(../images/header_background.png);
					background-repeat:no-repeat;
					width:1028px;
					margin: 0 auto;
					padding-top: 45px;
					vertical-align:middle;
					}
					
				#top_header_logo  {
					border: 0px solid #fff;
					width:215px;
					height:23px;
					float:left;
					border-right: 1px dotted #fff;
					margin: 10px 0 0 0;
					}
					
				#top_header_headline,
				#top_header_headline a {
					float:left;
					display:inline;
					font-size: 30px;
					font-weight: normal;
					padding: 0 0 0 10px;
					color: #fff;
					}
					
				#top_header_searchbox {
					border: 0px solid #fff;
					display:block;
					overflow:auto;
					width:300px;
					height:80px;
				
					display:inline;
					text-align:right;
					}
					
				#top_header_searchbox input.search {
					width: 154px;
					height: 30px;
					padding: 5px;
					}
					
				#top_header_searchbox button.search_submit {
					background-image:url(../images/search_button.png);
					background-color: transparent;
					background-repeat:no-repeat;
					text-indent: -99999px;
					margin-left: -33px;
					width:24px;
					border: 0px;
					}
					
				/* top-header francis end */



.page-header {
	margin: 0;
	padding: 0;
	border-bottom: 4px solid #ebebeb;
	
}

.page-header > * {
	padding-left: 0;
}

.page-header > .col-xs-6 > h1 {
	font-size: 24px;
}

.page-header > .col-xs-6 > p {
	font-size: 14px;
}


/* page-header menu */

ul.menu {
	border-top: 1px dotted #ebebeb;
	margin-bottom: 0;
	padding: 10px 0 10px 0;
}
.menu li {
	padding: 0 10px 0 10px;
}

.menu li > a {
	color: #0c588a;
}

.menu li:first-child {

	padding-left: 0;
}

.menu li:nth-child(2) {
	border-left: 2px solid #ebebeb;
	border-right: 2px solid #ebebeb;
	padding: 0 15px 0 15px;

}

.menu li img {
	margin: 0 5px 0 0 ;
}

/* forum entries */

.left-side > .entry {
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 0px;
}

.entry > img {
	padding-left: 0;
}

.borders {
	border-top: 1px dotted #ebebeb;
	border-bottom: 1px dotted #ebebeb;
	padding: 20px 0 20px 0;
}

h3.forum {
	margin-top: 40px;
	margin-bottom: 20px;
}
.entry > .col-xs-9 > h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.entry > .col-xs-9 > h5, h6 {
	display: inline-block;
	margin-top: 0;
	color: #7b7c7f;
}

.entry > .col-xs-9 > h6 {
	font-style: italic;
}

.entry > .col-xs-9 > p {
	font-family: 'Georgia', serif;
	color: #333333;
}

.entry > li {
	margin-right: 15px;
}


.entry > li > a > img {
	vertical-align: initial;
	padding: 0 5px 0 0 ;
}

a.link {
	background-color: #f1f1f1 ;/*#ebebeb*/
	color: #333333;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 30px 0 0 0;

	font-size: 12px;
}

/* right side */

button.sign-in {
	background: url(../images/sign-in.png);
	background-size: 100% auto;
	color: white;
	border-style: none; 
	padding: 0 10px 0 10px;
	width: 67px;
	height: 26px;
	margin: 5px 0 30px 0;
}

ul.login > li {
	background: url(../images/email.png);
	background-repeat: no-repeat;
}

ul.login > li > a > p {
	font-size: 12px;
	color: #0065bd;	
	margin-left: 20px;
}

.right-side {
	margin-top: -25px;
}
.right-side > .entry:first-child > p {
	color: #939d98;
}

.right-side-content-box { margin-top: 20px;}
.right-side-content-box h3, h2.block-title { font-size: 16px; border-bottom: 1px dotted #dddddd; padding-bottom: 6px; color: #e37222; font-weight: normal; margin-top: 0px}
.right-side > .entry > p {
	font-family: 'Georgia', serif;
	color: #333333;
	padding-top: 5px;
}

.right-side > .borders {
	margin-bottom: 20px;
}


/* footer */
footer {
	margin-top: 40px;
}
footer > ul {
	font-size: 10px; 
}

footer > ul > li {
	margin: 0 15px 0 0;
}

footer > ul:nth-child(2) {
	border-top: 1px solid #ebebeb;
	padding-top: 5px;
}

footer > ul:nth-child(2) > li > a {
	color: rgb(84,99,129);
}





/******* landing page *******/

.landing-page p {
	color: #666;
}

.landing.container {
	
	padding: 0;
}


.main-box  {
	
	margin: 0 auto;
	padding: 0px;

	border-bottom: 1px #dddddd solid;

	margin-bottom: 10px;
}

.main-box h3 { 
	color: #e37222;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0px;
}

.main-box > .left {
	padding-left: 0px;
}

.main-box h1 {
	font-size: 20px;
	font-weight: normal;
}

.main-box p {
	font-size: 10pt;
	line-height: 130%;

}


.main-box > div > ul.left > li > a {
	color: #2175bf;
}

.main-box img.featured-image {  width: 300px; height: 185px; }
.main-box .fixed-featured-img-width {  width: 330px; }
.arrow {
	margin-top: 100px;
	padding: 0px;
	margin-left: 0;
	margin-right: 0;
	width: 40px;
}

.arrow > a:hover {
	background: rgb(227, 114, 34);
}
.arrow > a {
	border-radius: 5px; 
	color: white; 
	background: #8e8e91;
	padding: 8px;
	
}

.arrow.left {
	margin-right: 10px;

}

.arrow.right {
	margin-left: 4px;

}

.arrow img {width: 9px;}

.arrow.right img {margin: 0px 0px 3px 4px;}
.arrow.left img {margin: 0px 3px 1px 1px;}


.small-font {font-size: 12px;}
.featured-image-footnotes li {margin-top: 5px;}
.featured-image-footnotes li { font-size: 12px; }
.featured-image-footnotes li img { height: 12px; }
.vertical.entry.right {
	position: relative;
}



.vertical.entry.light li {
	margin-right: 0;
	vertical-align: text-top;
}
.vertical.entry.light li a {
	color: #b6b6b6;
}
.vertical.entry.light li:first-child {
	border-right: 1px solid #b6b6b6;
	padding-right: 10px;
}

.vertical.entry.light li:last-child {
	padding-left: 10px;
}

.col-xs-4 {
	background: transparent;
	border: none;
}

.video-thumb{
	width:25%;
}

.divider {
	/*background: #f4f4f4;*/
	margin-bottom: 20px;
}

.divider > .container > .list {
	padding: 20px;
}

.divider-body ul { margin-bottom: 0px;}

.breadcrumb {
	padding: 0px;
	margin-bottom: 0px;
	list-style: none;
	background-color: #fff;
	border-radius: 0px;
}

.video-footnotes { margin-top: 15px; margin-left: -10px; }
.video-description { margin-top: 15px; padding-top: 15px; /*margin-left: 20px;*/ font-size: 10pt;}


/* Listing Styles for Videos */

.list-view { border-bottom: 1px dotted #dddddd; margin-bottom: 20px;}
.list-view,
.list-view p,
.list-view h4,
.list-view a,
.list-view span { font-size: 9pt !important; }

.list-view h4 a { color: #000; }

.list-view img.video-frame {
	padding: 0;
	width: 110px !important;
	height: 70px !important;

	margin-right: 15px;
}

.list-view h4, .list-view p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.list-view h4 { font-weight: bold; margin-bottom: 6px;}
/* Custom Dropdown */

/*.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover { color:#5d4617; border: 1px solid #d0c9af;}
.dropdown dt a {background:#e4dfcb url(../images/arrow-menu.png) no-repeat scroll right center; display:block; padding-right:20px;
                border:1px solid #d4ca9a; width:160px; padding:5px;}
.dropdown dt a span {cursor:pointer; display:block;}
.dropdown dd ul { background:#e4dfcb none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}*/

/* custom Dropdown ends */

.outline-list {
	/*border-radius: 5px;
	border: 1px solid #939d98;
	max-width: 446px;*/
}

.outline-list li {
	/*color: #8e8e91;
	border-right: 1px solid gray;*/
	padding: 10px;
	margin: 0px;
	display: table-cell !important;
	
	}

.outline-list li:hover {
/*background: #979799;
color: white;*/
cursor: pointer;
}

.dotted.entry.borders {
	border-top: 1px dotted #dddddd;
	border-bottom: 1px dotted #dddddd;
}

	.outline-list li:last-child {
		border-right: none;
	}

.container {
	width: 1028px;
margin: 0 auto;
}

	#searchbox {
					border: 0px solid #fff;
					display:block;
					overflow:auto;
					width:300px;
					color:#eeefe9;
					margin-top: 7.5px;
					display:inline;
					text-align:left;
					}
					
				#searchbox input.search {
					width: 200px;
					height: 30px;
					padding: 5px;
					background: #8e8e91;
					border: none;
					border-radius: 5px;
					color:#eeefe9;
					font-size:10pt;
					}
					
				#searchbox button.search_submit {
					background-image:url(../images/search_button_white.png);
					background-color: transparent;
					background-repeat:no-repeat;
					text-indent: -99999px;
					vertical-align: sub;
					margin-left: -33px;
					width:24px;
					border: 0px;
					}

::-webkit-input-placeholder {
   color: #eeefe9 !important;
}

:-moz-placeholder {
   color: #eeefe9;  
}

::-moz-placeholder { 
   color: #eeefe9;  
}


img.video-frame {
	padding: 0;
	width: 100%;
	height: 100%;
}

.stats.vertical {
	border-top: 1px dotted #dddddd;
	margin-top: 5px;
	padding-top: 5px;
	font-size:10pt;
}
.stats.vertical li > a{
	color: #8b8e90;

}

.stats.vertical li img,
.video-footnotes ul li img {
	padding-right: 5px;
}
.stats.vertical li:first-child {
	margin-right: 20px;
}

.stats.vertical li:last-child {
	float: right;
	color: #afafb1;
}

.stats.vertical li:last-child > a {
	vertical-align: text-top;

	color: #afafb1;
}

.blue-link {
	color: rgb(33, 117, 191) !important;
}
span.category {
color: gray;
font-size: 10pt
}

a.category {
font-size: 10pt;
color: #2175bf,
}

h2.browse {
	color: #8e8e91;
	font-weight: normal;
	font-size: 18px;
}

h2.title {
	
	font-weight: bold;
	font-size: 27px;
	letter-spacing: -1px;
}

.categories { padding-left: 0px !important; }
.categories li {
	color: #2175bf;
	list-style-type: none;
	padding-left: 2px;
	padding-bottom: 2px;
	font-size: 10pt
}

.playlist {
	margin-bottom: 4px;
	overflow: hidden;
}

.playlist > div {
	padding: 0 0 0 5px;
}


.playlist > div > h4 {
	margin-top: 0;
	margin-bottom: 0px;
}

.playlist > img {
	padding: 0;
}

.playlist ul.vertical {
	padding: 0;
	font-size: 11px;
	margin-top: 3px;
}

.playlist ul.vertical li:first-child {
	border-right: 1px solid #dddddd;
	padding-right: 5px !important;
}

.playlist ul.vertical  li:last-child {
.categories li	padding-left: 5px !important;
}

img.playlist-img { width: 13px;}

.down {
	margin-top: 20px;
}

.entry.up {
	margin-top: 10px !important;
	overflow: hidden;
}

.entry.up .col-xs-4 {
	padding-top: 0;
}
/* footer */
footer {
	margin-top: 40px;
	margin-left: 15px;

}

.footer {
	border-top: 2px solid #dddddd;
	padding-top: 15px !important;
}
.footer li a {
	font-size: 11px;

}


footer ul.footer li,
.video-footnotes ul li {
	border-right: 1px solid #dddddd;
	padding: 0px 10px !important;
}

footer ul.footer li:first-child {
/*	border-right: 1px solid #dddddd;
	padding-right: 5px !important;*/
}

footer ul.footer li:last-child,
.video-footnotes ul li:last-child {
	border: none;
}

.remove-side-border { border-right: none !important; }
/* video page */

.top#searchbox {
	margin-top: -10px;
}
img.full {
	padding: 0;
}

.left-align {
	padding-left: 0;
}

.vertical.entry.light.full {
	min-width: 160px;
}


.comment {
	background: #f2f2f2;
	margin-bottom: 20px;
}

form.comment-form { font-size: 10pt;}
div.comment-wrapper h2.title,
div.comment-wrapper div.submitted a.permalink  { display: none;}
div.comment-wrapper h2.comment-form { display: block !important; font-size: 14px;}

.comment-by-viewer {padding: 15px;}
h3.comment-title, h3.comment-title a,
.field-name-comment-body p {color: #000000;}
div.comment-wrapper div.submitted span {color: #939d98;}

div.comment-wrapper input, div.comment-wrapper textarea { border: 1px solid #dddddd;}
.new {color: #f47730; font-size: 10pt;}

.left-align > .col-xs-9 {

	padding-left: 0;
}
.line li {
	margin: 20px 0 10px 0;
}

.line li:first-child {
	border-right: 1px solid gray;
	padding-right: 10px;
	margin-right: 5px !important;
}
.gray {
	color: #8e8e91;
}
.home {
	color: #8e8e91;
	font-weight: 200;
}

h2.normal-weight {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 40px;

}

h4.normal-weight,
h4.normal-weight a {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
}

h4.small-weight {
	font-size: 13px;
	font-weight: 400;
}

img.col-xs-12.video-frame {
	margin-bottom: 8px;
	width: 156px;
	height: 101px;
}
.pdf {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
.pdf > img {
	width: 18px;
padding: 0px;
}

.pdf p {
	color: black;
	margin-bottom: 0;
}

.pdf  > div {
	padding: 0;
	margin: 0 0 0 5px;
}

.mb {
	font-size: 12px;
	color: rgb(147, 157, 152);
	margin-top: -5px;
	padding-top: -10px;
	position: relative;
	top: -3px;
}

.commenter {
	color: #333333;
}

.entry.videos {
	margin-top: 140px !important;
}

.right-align {
	padding-right: 0 !important;
	margin-right: 0;
}

.right-align > a {
	float: right;
}

.date {
	font-size: 12px;
}

.download-video > a {
	font-size: 12px;
}

hr.spacer {
	padding: 15px 0 15px 0;
}

footer.small {
	font-size: 10px;
}


/* Facets CSS */

div.block-facetapi {
	float: left;
	padding-right: 15px;
}

div#block-facetapi-reset {
	font-size: 9pt;
	top: 27px;
	font-weight: bold;
	float: right;
}

div#block-facetapi-reset img{
	margin-right: 2px;
}

div.block-facetapi .form-item, .form-actions {
	margin-top: 0.7em;
	margin-bottom: 1em;
}

div.block-facetapi h2.block-title {
	display: none;
}

div.facet-wrapper-selectbox div.form-item label,
.views-exposed-widget label {
	/*display: none;*/
	display: block;
	font-size: 8pt;
	color: #666;
	margin-bottom: 0px;
}

.ajax-progress div.throbber {
  line-height: 68px;
  text-indent: 45px;
  word-spacing: 32px;
  letter-spacing: 26px;
  font-size: 18px;
  font-weight: 400;
  font-family: spinjs !important;
  text-decoration: overline;
  color: #3182c5;
  top: 50%;
  left: 50%;
  height: 110px;
  width: 110px;
  position: fixed;

}

.view-filters {background-color: #f1f1f1; padding: 4px 0px 10px 15px; margin-bottom: 25px;}
#edit-field-video-usage-restrictions-value { width: 166px;}

#block-views-sidebar-info-programs-block,
#block-views-sidebar-info-usage-block {margin-top: 20px;}

/* Advanced Search */

.region-sidebar-first .contextual-links-region.first.odd {
	overflow: hidden;
	margin-top: 17px;
}
.view-search .view-filters {
	background-color: white;
	padding: 0px;
}

.views-widget-filter-search_api_views_fulltext .form-submit {
	margin-top: 5px !important;
	border: 0px;
	padding: 5px;
	height: 35px;
	border-radius: 0;
	background: #0065bd;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;


	 
}

input#edit-search-api-views-fulltext {
	border: 1px #eee solid;
	background-color: #f2f2f2;
	/* border-radius: 5px; */
	height: 35px;
	/*width: 27em;*/
	padding: 1px 1px 1px 5px;
	color: #47545c;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	/*box-shadow: inset 1px 1px 1px #ddd;*/
    
}

/* Contact Form Styling */

.contact-form .form-text {
	border: none;
	border-bottom: 1px solid #ddd;
}

.contact-form label { font-size: 8pt; color: #939d98;}

.contact-form .form-type-textarea {margin-top: 20px;}
.contact-form textarea {
	
	margin-top: 8px;
	border: 1px solid #ddd;
}

.contact-form .form-type-checkbox input { width: 15px;}
/* Dropdown Styling*/

.dropdown-search {
  /*margin: 0 20px;*/
  vertical-align: top;
  margin-top: 4px;
}

.dropdown-search {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 35px;
  width: 220px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 #f5f5f5;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown-search:before, .dropdown-search:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown-search:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown-search:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select,
.form-item-search-api-views-fulltext-op .form-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 35px;
  letter-spacing: 0.2px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #f2f2f2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus,
.form-item-search-api-views-fulltext-op .form-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option,
.form-item-search-api-views-fulltext-op .form-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown-search {
  z-index: 1;
}
.lt-ie9 .dropdown-select,
.lt-ie9 .form-item-search-api-views-fulltext-op .form-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus,
.lt-ie9 .form-item-search-api-views-fulltext-op .form-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
  .form-item-search-api-views-fulltext-op .form-select {
  	padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-dark:before {
  border-bottom-color: #aaa;
}
.dropdown-dark:after {
  border-top-color: #aaa;
}
.dropdown-dark .dropdown-select,
.dropdown-dark .form-item-search-api-views-fulltext-op .form-select {
  color: #aaa;
  text-shadow: 0 1px black;
  /* Fallback for IE 8 */
  background: #444;
}
.dropdown-dark .dropdown-select:focus,
.dropdown-dark .form-item-search-api-views-fulltext-op .form-select:focus {
  color: #ccc;
}
.dropdown-dark .dropdown-select > option,
.dropdown-dark .form-item-search-api-views-fulltext-op .form-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
